{
  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
    "browser": true,
    "expect": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
