{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": ["babel"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
