{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": ["babel"],
  "globals": {
    "expect":true,
    "sinon": true,
    "localStorage": true,
    "sessionStorage": true
  }
}
