/**************************
* Gobal Overides
***************************/
table td {
  vertical-align: top;
}

table.c-table-vam td {
  vertical-align: middle;
}

/**************************
* Govuk stuff
***************************/

.error-summary-list,
.error-summary-list li {
  list-style: none;
}

// /**************************
// * Objects
// ***************************/

.o-question {
  padding-top: $gutter;
}

// /**************************
// * Components
// ***************************/

.c-global-header__wrapper {
  color: #FFFFFF;
  font-weight: bold;
  float: right;
  margin-top: -3px;
}

.c-global-header__username {
  display: inline-block;
}

.c-profile-logout {
  display: inline-block;
  background: none;
  color: #FFFFFF !important;
  text-decoration: underline;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.c-main-heading-link {
  display: block;
  cursor: pointer;

  @media screen and (min-width: 641px) {
    text-align: right;
    margin-top: 2.8em;
  }
}

.c-dashboard-header {
  border-bottom: solid 1px $grey-2;
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.c-offender-count {
  display: block;
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  padding-top: 8px;
}

.c-profile-holder {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("/assets/images/profile-placeholder.gif");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 10px;
}

.c-date-title {
  margin-bottom: 3em;
}

.c-risk-threat {
  text-transform: uppercase;
}

.c-risk-threat--low {
  color: $turquoise;
}

.c-risk-threat--medium {
  color: $orange;
}

.c-risk-threat--high {
  color: $red;
}

.c-risk-threat--unknown {
  color: $mauve;
}

.c-form-label-container {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.c-message-text {
  font-weight: bold;
  margin-top: 15px;
}

.c-messgae-text--success {
  color: $turquoise;
}

.c-btn-right--xcustom {
  margin-top: 100px;
  float: right;
}

.c-table-start-btn {
  font-size: 20px;
}

.c-status-indicator {
  padding: 0.3em 0.8em;
  border: solid 1px $grey-2;
  display: inline-block;
  background-color: $grey-3;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.c-offender-details-container {
  width: 100%;
  margin-top: $gutter;
  padding-top: $gutter;
  padding-bottom: $gutter;
  margin-bottom: 70px;
  border-top: 1px solid $grey-2;
  border-bottom: 1px solid $grey-2;
}

.c-offender-profile-image {
  float: left;
  max-width: 150px;
  height: auto;
  margin-right: 40px;
}

.c-offender-image {
  float: left;
  max-width: 180px;
  padding-right: 1em;
}

.c-offender-image img {
  max-width: 100%;
  height: auto;
}

.c-offender-details {
  float: left;
}

.c-offender-details td,
.c-offender-details th {
  border: none;
}

.c-offender-profile-image img {
  max-width: 100%;
  height: auto;
}

.c-offender-profile-details {
  float: left;
  padding-top: 15px;
}

.c-offender-profile-item {
  display: block;
  text-transform: capitalize;
}

.c-row-title {
  font-size: 24px;
}

.c-print-link {
  text-align: left;
  margin: 2em 0 0 0;
  padding: 1em;
}

.c-print-link--small-mt {
  margin-top: 0;
  text-align: left;

  @media screen and (min-width: 641px) {
    text-align: right;
    margin-top: 1em;
  }
}

.c-icon-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;
  background-image: url("/assets/images/icon-print.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 16px 18px;
  padding: 0.5em 0 0.5em 28px;
  zoom: 1;
  font-size: 1.8rem;
}

.c-text-hint {
  color: $secondary-text-colour;
}


.c-radio-comment {
  width: 100%;
  margin-bottom: 10px;
}

.c-radio-comment__label {
  display: block;
  margin-bottom: 10px;
}

.c-radio-comment__comment-box {
  width: 100%;
  padding-bottom: 1.5em;
}

.c-answers-table-vat {
  vertical-align: top;
}

.c-answers-table-vat td {
  width: 50%;
}

.c-answers-table-vat p {
  margin-bottom: 0.50em;
}


.c-answers-table-vat p:first-child {
  margin-top: 0;
}


.c-answers-table-vat p:last-child {
  margin-bottom: 0;
}
.c-notice {
  margin-bottom: 2em;
}

.c-reasons-list {
  margin-bottom: 2em;
}

.c-reasons-list li {
  margin-bottom: 1em;
}


.c-lede-text {
  margin-top: 0.26316em;
  margin-bottom: 0.6em;
}

// /*******************
// * Utilities
// *******************/

.u-clear-fix {
  content: "";
  display: table;
  clear: both;
}

.u-no-borders {
  border: none;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-right {
  text-align: right;
}

.u-margin-top-default {
  margin-top: $gutter;
}

.u-margin-top-charlie {
  margin-top: 2em;
}

.u-margin-bottom-default {
  margin-bottom: $gutter;
}

.u-margin-bottom-alpha {
  margin-bottom: 6em;
}

.u-margin-bottom-bravo {
  margin-bottom: 3em;
}

.u-margin-bottom-charlie {
  margin-bottom: 2em;
}

.u-margin-bottom-small {
  margin-bottom: 1em;
}

.u-no-margin-top {
  margin-top: 0;
}

.u-no-margin-bottom {
  margin-bottom: 0;
}

.u-no-margin {
  margin: 0;
}

.u-d-block {
  display: block;
}

.u-link {
  cursor: pointer;
  border: none;
  background: none;
  font-size: inherit;
}

.u-no-link {
  text-decoration: none;
  color: $text-colour !important;
}

.u-text {
  border: none;
  text-decoration: none;
  color: $text-colour !important;
  background: none;
  font-size: inherit;
}

.u-text-capitalize {
  text-transform: capitalize;
}

.u-font-weight-normal {
  font-weight: normal !important;
}


.u-spacing-right {
  @media screen and (min-width: 641px) {
    display: inline-block;
    margin-left: 1em;
  }
}

.u-print-hide {
  @media print {
    display: none;
  }
}


table.c-results-table td {
  vertical-align: middle;
}

.c-results-table .c-profile-holder {
  width: 60px;
  height: 60px;
}


.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #00823B;
  background:    -moz-linear-gradient(left, #00823B 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #00823B 10%, rgba(255, 255, 255, 0) 42%);
  background:      -o-linear-gradient(left, #00823B 10%, rgba(255, 255, 255, 0) 42%);
  background:     -ms-linear-gradient(left, #00823B 10%, rgba(255, 255, 255, 0) 42%);
  background:         linear-gradient(to right, #00823B 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
          animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FFFFFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #FFFFFF;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
