doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/assets/images/favicon.ico', type='image/x-icon')
    link(rel='mask-icon', href='/assets/images/gov.uk_logotype_crown.svg', color='#0b0c0c')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/assets/images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/assets/images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/assets/images/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed', href='/assets/images/apple-touch-icon-60x60.png')
    link(href='/assets/stylesheets/govuk-template.css', media='screen', rel='stylesheet')
    link(href='/assets/stylesheets/govuk-template-print.css', media='print', rel='stylesheet')
    link(href='/assets/stylesheets/fonts.css', media='all', rel='stylesheet')
    //- link(href='/dist/main.css', media='all', rel='stylesheet')

  body
    block content

  footer
    script(src="/dist/main.bundle.js")
