extends layout.pug

block content
  .grid-row
    .column-two-thirds
      if errors && errors.length
        .error-summary
          h2.heading-small.error-summary-heading There is a technical problem with the digital CSRA and the service is currently unavailable.

      if warnings && warnings.length
        .error-summary(role="alert", aria-labelledby="error-summary-heading-example-1", tabindex="-1")
          h2.heading-small.error-summary-heading You need to fix the errors on this page before continuing
          p
            | See the highlighted errors below.
          ul.error-summary-list
            li
              a(href="#example-personal-details") You have entered an incorrect username or password

      form(action='/signin', method='POST', class='form')
        h1(class='form-title heading-large') Sign in

        if warnings && warnings.length
          include includes/signin-form-error.pug
        else
          include includes/signin-form.pug

        button.button(type='submit', role='button', data-element-id="continue-button") Sign in
