.form-group
  label.form-label(for='username') Username
  input#username.form-control(name='username', type='text', data-element-id='username')

.form-group
  label.form-label(for='password') Password
  input#password.form-control(name='password', type='password', data-element-id='password')
