.form-group.form-group-error
  label.form-label(for='username') Username
  span.error-message Check you have entered the correct username
  input#username.form-control(name='username', type='text', data-element-id='username')

.form-group.form-group-error
  label.form-label(for='password') Password
  span.error-message Check you have entered the correct password
  input#password.form-control(name='password', type='password', data-element-id='password')
